<MediaPack UID="0xACC9BEB0">
	<Resource>0x28C17D4C.png</Resource>
	<Resource>0x74BAB9A.png</Resource>
	<Resource>0x7A97F639.png</Resource>
	<Resource>0x230CCBB6.png</Resource>
	<Resource>0xC861D60.png</Resource>
	<Resource>0x76420BE6.png</Resource>
	<Resource>0x6EA01EBA.png</Resource>
	<Resource>0x412AC86C.png</Resource>
	<Resource>0x3CF695CF.png</Resource>
	<Resource>0xCCBEDA91.png</Resource>
</MediaPack>
