<MediaPack UID="0x4EA44AC2">
	<Resource>0xDDEBB30F.png</Resource>
	<Resource>0xF26165D9.png</Resource>
	<Resource>0xD8C3CBD2.png</Resource>
	<Resource>0x20308654.png</Resource>
	<Resource>0x700FF8A8.png</Resource>
	<Resource>0x225973DD.png</Resource>
	<Resource>0x72660D21.png</Resource>
	<Resource>0xD367A428.png</Resource>
	<Resource>0x3F99B51D.png</Resource>
	<Resource>0x6DCF3E68.png</Resource>
	<Resource>0xBEEA6298.png</Resource>
	<Resource>0xDE9DD0F6.png</Resource>
	<Resource>0x4419A83C.png</Resource>
	<Resource>0xCF4DFC7D.png</Resource>
	<Resource>0xB3101646.png</Resource>
	<Resource>0x97B25489.png</Resource>
	<Resource>0x3839D477.png</Resource>
	<Resource>0x6A6F5F02.png</Resource>
	<Resource>0xFA3F9239.png</Resource>
	<Resource>0xDE1B388F.png</Resource>
	<Resource>0x8C4DB3FA.png</Resource>
	<Resource>0x7FC01F2.png</Resource>
	<Resource>0xF7C5E6E7.png</Resource>
	<Resource>0x3A5021FE.png</Resource>
	<Resource>0xD91B6755.png</Resource>
	<Resource>0x6806AA8B.png</Resource>
	<Resource>0x9A482057.png</Resource>
	<Resource>0x8B30AAE2.png</Resource>
	<Resource>0x3D3293E2.png</Resource>
	<Resource>0x6F641897.png</Resource>
	<Resource>0xE6BD6C52.png</Resource>
	<Resource>0xEB47188C.png</Resource>
	<Resource>0x3F5B666B.png</Resource>
	<Resource>0x6D0DED1E.png</Resource>
	<Resource>0x86CADE3C.png</Resource>
	<Resource>0xDC1020C0.png</Resource>
	<Resource>0x4AB08CEE.png</Resource>
	<Resource>0x2652088E.png</Resource>
	<Resource>0x6BB7F385.png</Resource>
	<Resource>0x39E178F0.png</Resource>
	<Resource>0x3046AED4.png</Resource>
	<Resource>0x621025A1.png</Resource>
	<Resource>0xA34DDC81.png</Resource>
	<Resource>0xD9492C2F.png</Resource>
	<Resource>0x2153E407.png</Resource>
	<Resource>0x73056F72.png</Resource>
	<Resource>0xDDC88C47.png</Resource>
	<Resource>0x524B698.png</Resource>
	<Resource>0x208B4880.png</Resource>
	<Resource>0x72DDC3F5.png</Resource>
	<Resource>0x68A97028.png</Resource>
	<Resource>0x66C430CA.png</Resource>
	<Resource>0xB16077A9.png</Resource>
	<Resource>0xCFC7B9B1.png</Resource>
	<Resource>0x23B5965A.png</Resource>
	<Resource>0x36FB4E36.png</Resource>
	<Resource>0xAFB00BDF.png</Resource>
	<Resource>0xC1FDC586.png</Resource>
	<Resource>0xB3098220.png</Resource>
	<Resource>0xE15F0955.png</Resource>
	<Resource>0xF95BF7F6.png</Resource>
	<Resource>0xAB0D7C83.png</Resource>
	<Resource>0xC9897BD.png</Resource>
	<Resource>0xEF16234.png</Resource>
	<Resource>0x1183AD02.png</Resource>
	<Resource>0xBC324888.png</Resource>
	<Resource>0xEE64C3FD.png</Resource>
	<Resource>0x8BABFB0B.png</Resource>
	<Resource>0xAB6C2638.png</Resource>
	<Resource>0xC1579E17.png</Resource>
	<Resource>0xD6D12120.png</Resource>
	<Resource>0x9D3E58D6.png</Resource>
	<Resource>0x5ED1CD96.png</Resource>
	<Resource>0x5CB8381F.png</Resource>
	<Resource>0x814099E9.png</Resource>
	<Resource>0xC9EF8195.png</Resource>
	<Resource>0xE6655743.png</Resource>
	<Resource>0x8BF2D564.png</Resource>
	<Resource>0xA79EA4F8.png</Resource>
	<Resource>0xE4214F9.png</Resource>
	<Resource>0xD534666F.png</Resource>
	<Resource>0xA646087F.png</Resource>
	<Resource>0xA0FC16E4.png</Resource>
	<Resource>0xF2AA9D91.png</Resource>
	<Resource>0xF410830A.png</Resource>
	<Resource>0x47FAE748.png</Resource>
	<Resource>0xD00A3D0F.png</Resource>
	<Resource>0xFF80EBD9.png</Resource>
	<Resource>0x825CB67A.png</Resource>
	<Resource>0xBD82CABA.png</Resource>
	<Resource>0xA4D2E1A1.png</Resource>
	<Resource>0x5BC18B13.png</Resource>
	<Resource>0x5FC3D388.png</Resource>
	<Resource>0x4C6CFB84.png</Resource>
	<Resource>0x1E3A70F1.png</Resource>
	<Resource>0xB5DB19CB.png</Resource>
	<Resource>0x404D4E0F.png</Resource>
	<Resource>0x4195E288.png</Resource>
	<Resource>0x6E1F345E.png</Resource>
	<Resource>0x13C369FD.png</Resource>
	<Resource>0x43FC1701.png</Resource>
	<Resource>0x11BE4C3.png</Resource>
	<Resource>0x4224BB86.png</Resource>
	<Resource>0x9B4266A4.png</Resource>
	<Resource>0x483234AC.png</Resource>
	<Resource>0x49EA982B.png</Resource>
	<Resource>0x9A51CF1D.png</Resource>
	<Resource>0x15C98464.png</Resource>
	<Resource>0x4C826395.png</Resource>
	<Resource>0x84D5F3C4.png</Resource>
	<Resource>0x6BEB0326.png</Resource>
	<Resource>0x4461D5F0.png</Resource>
	<Resource>0xFA34A72B.png</Resource>
	<Resource>0xA50A4D26.png</Resource>
	<Resource>0xC7945DEE.png</Resource>
	<Resource>0x46347520.png</Resource>
	<Resource>0x1462FE55.png</Resource>
	<Resource>0x45852C2E.png</Resource>
	<Resource>0x17D3A75B.png</Resource>
	<Resource>0x47ECD9A7.png</Resource>
	<Resource>0x15BA52D2.png</Resource>
	<Resource>0x433F32B5.png</Resource>
	<Resource>0x1169B9C0.png</Resource>
	<Resource>0x42E79E32.png</Resource>
	<Resource>0xDD767E74.png</Resource>
	<Resource>0x10B11547.png</Resource>
	<Resource>0x60B62A4B.png</Resource>
	<Resource>0x238995E9.png</Resource>
	<Resource>0xEC99BA57.png</Resource>
	<Resource>0xBECF3122.png</Resource>
	<Resource>0xC6F77B22.png</Resource>
	<Resource>0x5C0F1D7.png</Resource>
	<Resource>0xC434F96D.png</Resource>
	<Resource>0x4BA6EE54.png</Resource>
	<Resource>0xD1BB5B40.png</Resource>
	<Resource>0x9362738C.png</Resource>
	<Resource>0x3F3388D1.png</Resource>
	<Resource>0x9FD0734F.png</Resource>
	<Resource>0xB62E959.png</Resource>
	<Resource>0x4044CB02.png</Resource>
	<Resource>0x8245A449.png</Resource>
	<Resource>0xC9C3B2B.png</Resource>
	<Resource>0x8D586CF6.png</Resource>
	<Resource>0x70426DCB.png</Resource>
	<Resource>0x854A93D4.png</Resource>
	<Resource>0x2DB9A88D.png</Resource>
	<Resource>0xD0651229.png</Resource>
	<Resource>0x20FA8E54.png</Resource>
	<Resource>0xE6BA62EE.png</Resource>
	<Resource>0xEBF94437.png</Resource>
	<Resource>0xE26989FC.png</Resource>
	<Resource>0xEF2AAF25.png</Resource>
	<Resource>0xE3B1257B.png</Resource>
	<Resource>0xEEF203A2.png</Resource>
	<Resource>0xE0007C75.png</Resource>
	<Resource>0xED435AAC.png</Resource>
	<Resource>0x94F3587E.png</Resource>
	<Resource>0xD5624DCB.png</Resource>
	<Resource>0x99B07EA7.png</Resource>
	<Resource>0x63A0BFA4.png</Resource>
	<Resource>0xAB97483F.png</Resource>
	<Resource>0x841D9EE9.png</Resource>
	<Resource>0x1DEE0B75.png</Resource>
	<Resource>0xAA4FE4B8.png</Resource>
	<Resource>0x85C5326E.png</Resource>
	<Resource>0x7544C96E.png</Resource>
	<Resource>0x7391A3DB.png</Resource>
	<Resource>0x1E5F527B.png</Resource>
	<Resource>0x2189CE9F.png</Resource>
	<Resource>0x31D584AD.png</Resource>
	<Resource>0x1A8CB969.png</Resource>
	<Resource>0xB37EC707.png</Resource>
	<Resource>0x48DA321C.png</Resource>
	<Resource>0x18E54CE0.png</Resource>
	<Resource>0x376F9A36.png</Resource>
	<Resource>0x4AB3C795.png</Resource>
	<Resource>0xEE32C402.png</Resource>
	<Resource>0x12F3C3CA.png</Resource>
	<Resource>0xC18391C2.png</Resource>
	<Resource>0x9B028556.png</Resource>
	<Resource>0xEE094714.png</Resource>
	<Resource>0x93D51AB7.png</Resource>
	<Resource>0xC3EA644B.png</Resource>
	<Resource>0xD7135E26.png</Resource>
	<Resource>0x23E03B16.png</Resource>
	<Resource>0x77505819.png</Resource>
	<Resource>0xA5DAD1C6.png</Resource>
	<Resource>0x59B155B1.png</Resource>
	<Resource>0xB1C500D5.png</Resource>
	<Resource>0xC9540E23.png</Resource>
	<Resource>0x71B6B063.png</Resource>
	<Resource>0xAF3BFF6F.png</Resource>
	<Resource>0xFDDF0610.png</Resource>
	<Resource>0xD255D0C6.png</Resource>
	<Resource>0xAF898D65.png</Resource>
	<Resource>0x2F88322B.png</Resource>
	<Resource>0x2E4FD.png</Resource>
	<Resource>0x337F2F6.png</Resource>
	<Resource>0x7DDEB95E.png</Resource>
	<Resource>0x890FB2D2.png</Resource>
	<Resource>0xDB5939A7.png</Resource>
	<Resource>0x27CF40FB.png</Resource>
	<Resource>0x6CF58C39.png</Resource>
	<Resource>0xC64D5E7.png</Resource>
	<Resource>0xD06A095A.png</Resource>
	<Resource>0x9E09C2C3.png</Resource>
	<Resource>0x7AC20786.png</Resource>
	<Resource>0x3AF333EB.png</Resource>
	<Resource>0x2EF5E71.png</Resource>
	<Resource>0xB01DAC52.png</Resource>
	<Resource>0x750807E3.png</Resource>
	<Resource>0x941F4DE9.png</Resource>
	<Resource>0x33811B6C.png</Resource>
	<Resource>0xC42BC564.png</Resource>
	<Resource>0xB6969F0A.png</Resource>
	<Resource>0xC2BC1BA0.png</Resource>
	<Resource>0x90EA90D5.png</Resource>
	<Resource>0xC2BF4CEC.png</Resource>
	<Resource>0xF2B4CC9A.png</Resource>
	<Resource>0xA1B34B61.png</Resource>
	<Resource>0xE9C33307.png</Resource>
	<Resource>0xA9659D54.png</Resource>
	<Resource>0x5CC664B6.png</Resource>
	<Resource>0x8FF86C5E.png</Resource>
	<Resource>0xE7495AE2.png</Resource>
	<Resource>0xE90EFC3.png</Resource>
	<Resource>0x24243FB0.png</Resource>
	<Resource>0x452DD360.png</Resource>
	<Resource>0x44911FB.png</Resource>
	<Resource>0x928540A1.png</Resource>
	<Resource>0xF3E5C014.png</Resource>
	<Resource>0xA5F72EDB.png</Resource>
	<Resource>0x7904921F.png</Resource>
	<Resource>0x3346727B.png</Resource>
	<Resource>0x8E2D25A9.png</Resource>
	<Resource>0x28A6BC86.png</Resource>
	<Resource>0x7AF037F3.png</Resource>
	<Resource>0xD407480F.png</Resource>
	<Resource>0x7CE6A844.png</Resource>
	<Resource>0x8A5B93BD.png</Resource>
	<Resource>0x82797D71.png</Resource>
	<Resource>0x8E399DB7.png</Resource>
	<Resource>0x8148EDFB.png</Resource>
	<Resource>0x754E83BF.png</Resource>
	<Resource>0x892DE1C.png</Resource>
	<Resource>0xAB1B7F4C.png</Resource>
	<Resource>0x2B52196A.png</Resource>
	<Resource>0xDC7BAEDC.png</Resource>
	<Resource>0xA1A7F37F.png</Resource>
	<Resource>0xFD4494C4.png</Resource>
	<Resource>0x2FC40E9A.png</Resource>
	<Resource>0x52185339.png</Resource>
	<Resource>0xDAAA3E5B.png</Resource>
	<Resource>0x7D9285EF.png</Resource>
	<Resource>0x7FFB7066.png</Resource>
	<Resource>0xD4A03B94.png</Resource>
	<Resource>0xA97C6637.png</Resource>
	<Resource>0x86F6B0E1.png</Resource>
	<Resource>0x58ADA0E0.png</Resource>
	<Resource>0x7B7BDC80.png</Resource>
	<Resource>0x6A78123.png</Resource>
	<Resource>0x292D57F5.png</Resource>
	<Resource>0x6083B053.png</Resource>
</MediaPack>
